In [1]:
# encoding=UTF-8
# !flask/bin/python

from cassandra.cluster import Cluster
from cassandra.policies import DCAwareRoundRobinPolicy
from cassandra.auth import PlainTextAuthProvider
from cassandra.query import BatchStatement
import pandas as pd
# from pyspark.sql.types import StringType, StructType, StructField


class CassandraType(object):
    PRODUCTION = 0
    TEST = 1
    TEST_DOCKER = 2


class CassandraDAO(object):

    # you have to install following items :
    # a. python-Cassandra driver
    # b. pyspark cassandra connector

    def __init__(self, type):
        #         print('runing father.__init__')
        if type == CassandraType.PRODUCTION:
            self.contact_points = ['192.168.95.127', '192.168.95.122']
            self.contact_points_str = "192.168.95.127,192.168.95.122"
        elif type == CassandraType.TEST:
            self.contact_points = ['192.168.0.41', '192.168.0.42']
            self.contact_points_str = "192.168.0.41,192.168.0.42"
        else:
            self.contact_points = ['192.168.0.121', '192.168.0.122', '192.168.0.52']
            self.contact_points_str = "192.168.0.121,192.168.0.122,192.168.0.52"

        self.formatString = "org.apache.spark.sql.cassandra"
        self.username = "username"
        self.password = "password"
        self.cluster = None
        self.session = None
        self.createSession()

    def __del__(self):
        self.cluster.shutdown()

    def pandas_factory(self, colnames, rows):
        return pd.DataFrame(rows, columns=colnames)

    def createSession(self):
        print "contact_points = " + self.contact_points_str
        self.cluster = Cluster(
            contact_points=self.contact_points,  # random select a node
            #             load_balancing_policy = DCAwareRoundRobinPolicy(local_dc='datacenter1'),
            #         auth_provider = PlainTextAuthProvider(username='cassandra', password='cassandra')
        )
        self.session = self.cluster.connect()
        self.session.row_factory = self.pandas_factory
        self.session.default_fetch_size = None
        # needed for large queries, otherwise driver will do pagination. Default is 50000.

    def getSession(self):
        return self.session

    def execCQL(self, keyspace, cql):
        """
        execute CQL
        """
        self.session.set_keyspace(keyspace)
        self.session.execute_async(cql)

    def execCQLSelect(self, keyspace, cql):
        """
        execute CQL, select only
        """

        self.session.set_keyspace(keyspace)

        #       cassandra ResultSet
        async_results = self.session.execute_async(cql)
        return async_results

    def execCQLCallBackAnysc(self, keyspace, cql, handle_success, handle_error):
        """
        execute CQL, if success => handle_success function, else handle_error
        """
        self.session.set_keyspace(keyspace)
        async_results = self.session.execute_async(cql)
        async_results.add_callbacks(handle_success, handle_error)

    def execCQLSelectToPandasDF(self, keyspace, cql):
        """
        execute CQL, select only, return Pandas DataFrame
        """

        self.session.set_keyspace(keyspace)

        #       cassandra ResultSet
#         async_results = self.session.execute_async(cql, timeout=None)
        results = self.session.execute(cql, timeout=None)
        #         async_results = self.session.execute_async(cql)
        #       to Pandas DataFrame
#         return async_results.result()._current_rows
        return results._current_rows

    def execCQLSelectToDF(self, sqlContext, keyspace, cql):
        """
        execute CQL, select only, return Spark DataFrame
        """

        #       pandas dataframe to spark dataframe
        pandas_dataframe = self.execCQLSelectToPandasDF(keyspace, cql)
        if pandas_dataframe.empty:
            schema = StructType([])
            return sqlContext.createDataFrame([], schema)
        else:
            return sqlContext.createDataFrame(pandas_dataframe)

    def execCQLSelectToRDD(self, sqlContext, keyspace, cql):
        """
        execute CQL, select only, return Spark RDD
        """

        return self.execCQLSelectToDF(sqlContext, keyspace, cql).rdd.map(tuple)  # dataFrame to RDD

    @property
    def contactPoints(self):
        return self.contact_points

    @contactPoints.setter
    def contactPoints(self, contact_points):
        self.contact_points = contact_points

    @contactPoints.deleter
    def contactPoints(self):
        del self.contact_points

#     # pyspark cassandra connector
#     def readFromCassandraDF(self, sqlContext, keyspace, table):
#         """
#         read data from Cassandra, return Dataframe
#         """

#         return sqlContext.read \
#             .format(self.formatString) \
#             .options(table=table, keyspace=keyspace) \
#             .option("spark.cassandra.connection.host", self.contact_points_str) \
#             .load()

#     def readFromCassandraRDD(self, sqlContext, keyspace, table):
#         """
#         read data from Cassandra, return RDD
#         """

#         df = sqlContext.read \
#             .format(self.formatString) \
#             .options(table=table, keyspace=keyspace) \
#             .option("spark.cassandra.connection.host", self.contact_points_str) \
#             .load()
#         return df.rdd.map(tuple)  # dataFrame to RDD

#     def saveToCassandraDF(self, dataFrame, keyspace, table, mode="error"):
#         """
#         Save data to Cassandra using DataFrame, select one mode to save
        
#         SaveMode.ErrorIfExists (default) | "error"      When saving a DataFrame to a data source,
#                                                         if data already exists, an exception is expected to be thrown.
#         SaveMode.Append                  | "append"     When saving a DataFrame to a data source,
#                                                         if data/table already exists, contents of the DataFrame are
#                                                         expected to be appended to existing data.
#         SaveMode.Overwrite               | "overwrite"  Overwrite mode means that when saving a DataFrame to a data source,
#                                                         if data/table already exists, existing data is expected to be
#                                                         overwritten by the contents of the DataFrame.
#         SaveMode.Ignore                  | "ignore"     Ignore mode means that when saving a DataFrame to a data source,
#                                                         if data already exists, the save operation is expected to not
#                                                         save the contents of the DataFrame and to not change the
#                                                         existing data. This is similar to a CREATE TABLE IF NOT EXISTS

#                                                         in SQL.
#         """

#         dataFrame.write \
#             .format(self.formatString) \
#             .mode(mode) \
#             .options(table=table, keyspace=keyspace) \
#             .option("spark.cassandra.connection.host", self.contact_points_str) \
#             .save()

In [2]:
dao = CassandraDAO('BACKUP')

contact_points = 192.168.0.121,192.168.0.122,192.168.0.52

In [3]:
import pandas as pd
import jieba
import jieba.posseg as pseg

class JiebaSegmentor:

    def __init__(self, dict_path, userdict=[], stopwords = False, stopwords_path=None):
        self.dict_path = dict_path
        self.userdict = userdict
        self.dictionary_init()
        self.stopwords_path = stopwords_path
        self.stopwords = stopwords
        self.stopwords_set = set()
        self.stopwords_init()

    def dictionary_init(self):
        jieba.set_dictionary(self.dict_path)
        for path in self.userdict:
            print path
            jieba.load_userdict(path)
    
    def stopwords_init(self):
        if self.stopwords_path:
            with open(self.stopwords_path ,'r') as stopwords:
                for stopword in stopwords:
                    self.stopwords_set.add(stopword.strip('\n').decode('utf-8'))

    def taiwan_country(self):
        return [u'臺北', u'台北', u'基隆', u'臺中', u'台中', u'臺南', u'台南', u'高雄',
                u'宜蘭', u'桃園', u'新竹', u'苗栗', u'彰化', u'南投', u'嘉義', u'雲林',
                u'屏東', u'臺東', u'台東', u'花蓮', u'澎湖']

    def wordToNumber(self, input_text):

        target = u''
        for s in input_text:

            if (s == u'零') or (s == '0'):
                to_word = u'0'
            elif (s == u'一') or (s == u'壹') or (s == '1'):
                to_word = u'1'
            elif (s == u'二') or (s == u'兩') or (s == u'貳') or (s == '2'):
                to_word = u'2'
            elif (s == u'三') or (s == u'參') or (s == '3'):
                to_word = u'3'
            elif (s == u'四') or (s == u'肆') or (s == '4'):
                to_word = u'4'
            elif (s == u'五') or (s == u'伍') or (s == '5'):
                to_word = u'5'
            elif (s == u'六') or (s == u'陸') or (s == '6'):
                to_word = u'6'
            elif (s == u'七') or (s == u'柒') or (s == '7'):
                to_word = u'7'
            elif (s == u'八') or (s == u'捌') or (s == '8'):
                to_word = u'8'
            elif (s == u'九') or (s == u'玖') or (s == '9'):
                to_word = u'9'
            else:
                to_word = s

        target = target + to_word
        return target

    def input_text_preprocessing(self, input_text):

        if type(input_text) is not unicode:
            input_text = input_text.decode('utf-8')

#         input_text = self.wordToNumber(input_text)
        return input_text

    def get_names(self, input_text):

        input_text = self.input_text_preprocessing(input_text)
        names = []
        words = pseg.cut(input_text)
        print words
        for w, f in words:
            if f.lower() == 'nr':
                names.append(w)
        for name in names:
            print name.encode('utf-8')
        return names

    def lcut(self, input_text):

        input_text = self.input_text_preprocessing(input_text)
        cut_raw = jieba.lcut(input_text)
        key = []

        for k in cut_raw:
            if self.stopwords:
                if k in self.stopwords_set:
                    continue
            
            key.append(k)
        df = pd.DataFrame({"word": key})
        return df

    def pseg_lcut(self, input_text):

        input_text = self.input_text_preprocessing(input_text)
        cut_raw = pseg.lcut(input_text)
        key = []
        value = []

        for k, v in cut_raw:
            tag = v
            if self.stopwords:
                if k in self.stopwords_set:
                    continue
            
            if k in self.taiwan_country():
                tag = u'ns'
            if len(k) > 1 and tag == u'x':
                tag = u'n'
            key.append(k)
            value.append(tag)
        df = pd.DataFrame({"word": key, "tag": value})
        return df

In [4]:
jieba_dict_path1 = "/home/charles/dataset/jieba/dict_taiwan.txt"
jieba_dict_path2 = "/home/charles/dataset/jieba/userdict.txt"
jieba_dict_path3 = "/home/charles/dataset/jieba/dict.txt.big"
jieba_dict_path4 = "/home/charles/dataset/jieba/dict.txt.small"
jieba_stopwords_path = "/home/charles/dataset/jieba/stopwords.txt"
segmentor = JiebaSegmentor(jieba_dict_path1, 
                           [jieba_dict_path2,jieba_dict_path3,jieba_dict_path4], 
                           stopwords = False, 
                           stopwords_path=jieba_stopwords_path)

Building prefix dict from /home/charles/dataset/jieba/dict_taiwan.txt ...
DEBUG:jieba:Building prefix dict from /home/charles/dataset/jieba/dict_taiwan.txt ...
Loading model from cache /tmp/jieba.u48306fa201322dcccc3d0c62898fbadc.cache
DEBUG:jieba:Loading model from cache /tmp/jieba.u48306fa201322dcccc3d0c62898fbadc.cache
Loading model cost 0.389 seconds.
DEBUG:jieba:Loading model cost 0.389 seconds.
Prefix dict has been built succesfully.
DEBUG:jieba:Prefix dict has been built succesfully.

/home/charles/dataset/jieba/userdict.txt
/home/charles/dataset/jieba/dict.txt.big
/home/charles/dataset/jieba/dict.txt.small

In [5]:
segmentor.stopwords=False
segmentor.pseg_lcut('或許今天阿伯的媽媽給我好大一包的紅包喔')

   tag word
0    d   或許
1    t   今天
2   ns   阿伯
3   uj    的
4    n   媽媽
5    p    給
6    r    我
7    a    好
8    a    大
9    m   一包
10  uj    的
11   n   紅包
12   e    喔

In [6]:
segmentor.stopwords=True
segmentor.pseg_lcut('或許今天阿伯的媽媽給我好大一包的紅包喔')

  tag word
0   t   今天
1  ns   阿伯
2   n   媽媽
3   a    好
4   m   一包
5   n   紅包
6   e    喔

In [152]:
HELPER_KEYSPACE = 'nlp_keyspace'
#select range
cql = ("select * from nlp_keyspace.dcard_article " +
        "where article_id > 0 and article_id < 5000 allow filtering;")
cql = ("select * from nlp_keyspace.dcard_article where article_id > 205000 and " +
       "article_id < 210000 allow filtering;")
pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
print len(pd_df)
pd_df

341

,article_id,board,category,content,crawl_date,create_date,question_type,title
0,207159,mood,None,前情提要(文超長)小時候的體罰影響真的很深最近因為考試所以壓力有點兒大rrrr\n想到了一些...,2019-02-23 03:20:57.730,2015-05-18T16:25:35.494Z,None,Re: (文超長)小時候的體罰影響真的很深
1,206571,talk,None,下個月似乎就要送舊了某收錢人員密我某:你要去送舊嗎?我:沒有耶，我有事某:那你要繳200喔!...,2019-02-18 06:07:54.808,2015-05-18T13:26:04.090Z,None,林北就是不爽繳拉!
2,205492,mood,None,期待好久的中央中文轉學考竟然不開大二的缺，覺得無敵傷心。要是大三才轉，學業一定會很嚴重地落後...,2019-02-23 03:20:40.203,2015-05-18T05:21:23.087Z,None,被想轉的學系放鴿子
3,209409,talk,None,很多肥宅都滿喜歡AKB48的，可是有正妹喜歡AKB48嗎？有沒有八卦？,2019-02-18 06:09:39.203,2015-05-19T11:18:08.141Z,None,有正妹喜歡AKB48嗎？
4,207108,mood,None,最近因為考試所以壓力有點兒大rrrr想到了一些以前的事情原PO家庭蠻嚴格的我一直記得我剛上小...,2019-02-23 03:19:54.895,2015-05-18T16:12:45.280Z,None,(文超長)小時候的體罰影響真的很深
5,205870,mood,None,2015/05/17之前，我們沒有見過半次面，或許你連我的聲音都沒有聽過，我們只在RC上交流...,2019-02-23 03:20:40.181,2015-05-18T08:06:22.356Z,None,給101故事男孩，如果花知道
6,208405,mood,None,班上有一個我不喜歡的人因為他跟我們這一群是朋友所以我跟他也只好表面上是朋友，其實心裡一直不喜...,2019-02-23 03:20:03.106,2015-05-19T04:23:02.951Z,None,討厭的人的請求？
7,206930,mood,None,今天真是彼母之不順早上七早八早起來載我弟去上課之後準備載我每天通勤的同學回來臺北上課突然發現...,2019-02-23 03:19:45.330,2015-05-18T15:29:28.457Z,None,肥宅受難日
8,207149,talk,None,如果有崩潰板我應該會果斷發在那.........本PO的字扭來扭去 擠在一起 像是小學生是...,2019-02-18 06:09:38.882,2015-05-18T16:23:32.544Z,None,[求救] 我的字龍飛鳳舞 只是飛歪舞殘了
9,206547,talk,None,"想問大家對於做一份報告願意付出每人不超過500元的金錢嗎？例如主題是蘋果, 願意買不同品種的...",2019-02-18 06:07:54.657,2015-05-18T13:17:10.899Z,None,願意為了報告額外付出金錢？
10,207055,mood,None,今天早上一路奔波從南部家裡到北部學校雖然已經當了超過一學期的大學生但是一踏入宿舍還是有點.....,2019-02-23 03:19:54.536,2015-05-18T15:59:29.992Z,None,回學校了，好想家
11,206354,mood,None,生活在工科的女生，其實也是很渴望認識女生的但是經過努力之下，還是只有一個要好的女生朋友，從高...,2019-02-23 03:20:48.896,2015-05-18T11:23:51.962Z,None,我被當工具人了!!
12,207386,mood,None,原po是個豐滿、胖胖的女生，又長到接近170，看起來就略嫌大隻。在一間算是充滿著正妹的學校念...,2019-02-23 03:22:32.941,2015-05-18T17:24:24.756Z,None,（黑特）胖子不是生來娛樂你的!!!!!
13,208675,talk,None,曾經參加過的教育性營隊最近要公開說明會有不清楚自己將來想做什麼的很推薦參加喔～-------...,2019-02-18 06:09:38.444,2015-05-19T06:45:08.460Z,None,[推薦] 博雅青年講堂
14,208185,mood,None,看著狄卡很多抒發高中跟大學的差別也覺得好感慨啊高中的時候讀女校女校就是外面給人乖巧的假象但是...,2019-02-23 03:20:57.182,2015-05-19T03:05:34.793Z,None,懷念高中的日子啊
15,207156,mood,None,本人是個大書痴很喜歡窩在書店裡面手機滿滿都是待閱list恰巧我住臺北恰巧我有個跟我興趣相仿的...,2019-02-23 03:19:54.801,2015-05-18T16:25:08.240Z,None,我該戒掉這個習慣嗎？
16,207353,mood,None,我已經不去看也不去想但是還是有共同朋友還是會看到狀態雖然不知道發生什麼事依舊想要挽回我們的友...,2019-02-23 03:20:57.218,2015-05-18T17:12:16.345Z,None,時間會證明友情
17,209454,mood,None,今天面試完的了大樓管理員，被面試的總幹事虧到整個人都無地自容了：「哎唷，怎麼唸到碩士了來做這...,2019-02-23 03:21:06.472,2015-05-19T11:39:51.402Z,None,酸到爆炸的面試
18,206194,mood,None,當你剪了新頭髮，穿新衣服，跟過去的自己說掰掰，心情本來是愉悅的⊙▽⊙但是只要有人開口講這一句...,2019-02-23 03:19:45.574,2015-05-18T09:57:28.445Z,None,非常討厭
19,208341,mood,None,看到很多人在討論大學不比以前高中國中單純認識的朋友也很複雜好像每天都在耍心機但我覺得是人都有...,2019-02-23 03:22:41.503,2015-05-19T03:55:48.373Z,None,大學真的那麼糟？(文長但我還是想感謝)
20,209502,mood,None,只要你一犯錯一次，每個人都會說，你每次都是這樣。活在這樣的陰影下，漸漸的我失落了這份工作，壓...,2019-02-23 03:21:06.179,2015-05-19T12:02:18.603Z,None,一直，都是，每次
21,205165,mood,None,半夢半醒做了個怪夢夢裡和一群朋友去間餐廳吃飯聊天結果看見前女友和她的男友正在另一張桌子分手我...,2019-02-23 03:22:15.438,2015-05-18T02:42:22.996Z,None,夢到前女友和她男友分手
22,208433,mood,None,[有點不知道要發在哪版比較好，先發在心情好了，因為被嚇壞了]剛剛上某一堂必修因為老師突然說下...,2019-02-23 03:21:06.639,2015-05-19T04:36:55.213Z,None,被老師要line跟電話
23,209984,mood,None,時間：5/17 星期日 早上11點左右地點：台中市潭子區旱溪西路(靠近嘉豐路96巷口)我母親...,2019-02-23 03:22:51.218,2015-05-19T14:32:54.800Z,None,需要大家幫忙 拜託大家了
24,205595,talk,None,剛剛看到一篇歧視高職生的文章在這，我要大大鼓勵高職生，你們不要覺得被歧視我國中考基測，因為喜...,2019-02-18 06:09:30.117,2015-05-18T06:19:37.440Z,None,我是高職生，我引以為傲
25,208077,mood,None,不知道大家有沒有聽過爸爸媽媽的情史？媽媽小檔案：據媽媽說她以前有驕傲的23腰據說媽媽她和朋友...,2019-02-23 03:19:53.864,2015-05-19T02:19:45.015Z,None,感情神經遺傳的可怕
26,209964,talk,None,我家室友OO是一個很特別的人她完全不吃蔬菜，是「完全」哦大部分的人是不吃特定蔬菜像是紅蘿蔔之...,2019-02-18 06:08:14.002,2015-05-19T14:26:48.614Z,None,我的室友不吃菜
27,205953,talk,None,"在Dcard的肥宅們 打gay賀 如果今天有一位正妹跟你說""如果你減肥到XX公斤就當你女朋友...",2019-02-18 06:07:55.287,2015-05-18T08:30:18.179Z,None,肥宅被正妹說胖會去減肥嗎？
28,206637,job,None,如題想請問大家有沒有在這其中一家打工換宿過呢？目前兩家都有上 但是第一次嘗試打工換宿，不知道...,2019-02-15 07:21:05.880,2015-05-18T13:50:40.732Z,None,都蘭98&102 和 RGB HOSTEL台東三原色青旅 打工換宿
29,207166,talk,None,大家平日穿著都怎麼穿呢我習慣穿長袖襯衫+丹寧褲、休閒褲天氣微熱就穿件簡單的t配上長袖襯衫捲袖...,2019-02-18 06:07:01.082,2015-05-18T16:27:30.610Z,None,校園穿著問題
...,...,...,...,...,...,...,...,...
311,207437,mood,None,昨天，是妳的生日。生日快樂，我只在訊息裡留下這四個字，然後回到召喚峽谷，繼續戰鬥。不久之後，...,2019-02-23 03:20:57.983,2015-05-18T17:42:35.016Z,None,妳的生日
312,206447,mood,None,上一次被釣也是常常來密我找我聊天聊久變成習慣後自己反而變成主動的那一方電話get後還講得很開...,2019-02-23 03:20:48.931,2015-05-18T12:23:29.221Z,None,我不想再被釣了QQ
313,208280,food,None,這是剛剛在校園裡買的手工餅乾因為太久沒做餅乾了，頓時嘴巴有點嘴饞xD說真的這小小一盒不便宜啊...,2019-02-12 06:05:06.449,2015-05-19T03:37:50.337Z,None,(問)手工餅乾的口感
314,209767,mood,None,最近我們有一份可以抵期末考的報告，因為我覺得做每件事都應該要認真去做，因此我花不少時間在做這...,2019-02-23 03:20:12.844,2015-05-19T13:32:27.164Z,None,有沒有人遇過小組分組不合作的組員?!
315,207288,food,None,來新竹快要一年了 總覺得吃的東西都是那幾樣阿 每次在學校跟實驗室的學長們決定要吃甚麼都苦思好...,2019-02-12 06:05:06.753,2015-05-18T16:53:03.781Z,None,[問]新竹美食
316,206828,talk,None,你們對於肥宅的觀感其實並不完全正確肥宅 雖然可能又醜又肥又宅 又臭酸但肥宅交不到女友是因為沒...,2019-02-18 06:09:29.621,2015-05-18T14:58:03.999Z,None,RE 關於肥宅
317,207231,mood,None,一開始是你先密我的~在這之前我完全沒有想過我跟你會有啥交集但自從那天開始我承認我蠻喜歡跟你聊...,2019-02-23 03:20:57.825,2015-05-18T16:42:29.343Z,None,乾!!!!!!你忙吧~~~~
318,208987,talk,None,小弟來高應大三年了，當初興沖沖想說在市區很方便，殊不知上課要到另一個校區啊!!!!!在這鳥不...,2019-02-18 06:09:39.159,2015-05-19T08:38:21.693Z,None,有沒有各校名產的八卦?
319,206602,talk,None,本人身材矮小才15x公分上圍有點豐滿(大概D 吧)，不胖不瘦，可是胸大看起來就有點肉肉有在健...,2019-02-18 06:06:51.481,2015-05-18T13:35:56.560Z,None,胸大就是裸露
320,206804,mood,None,嗯，最近看了很多Dcard，上面有很多討論同性戀的議題，我看了有點不舒服又有點難過，下面的留...,2019-02-23 03:19:45.415,2015-05-18T14:51:14.662Z,None,給我一個出櫃的勇氣
321,205344,mood,None,剛剛在滑d card 時看到一篇關於劈腿的文章在我用手機打了肉肉長的回文後才發現原po已刪文...,2019-02-23 03:19:37.250,2015-05-18T04:05:13.321Z,None,關於劈腿
322,205243,trending,None,國民黨前幾天領表截止，只有楊志良跟洪秀柱兩個人，不過應該是洪秀柱代表國民黨選2016總統，如...,2019-02-14 02:34:54.003,2015-05-18T03:24:50.074Z,None,關於國民黨2016總統候選人
323,205722,job,None,下個月就要畢業了.....想去大陸工作或實習，出去闖看看挑戰的心情和累積經驗不知道有沒有人正...,2019-02-15 07:20:02.613,2015-05-18T07:09:57.232Z,None,想去大陸工作 該怎麼找職缺?
324,207091,talk,None,相信最近應該有許多卡友看到北榮婦產科的胎死腹中事件，一位頂尖的婦產科醫師就這樣被指控，最後離...,2019-02-18 06:09:38.940,2015-05-18T16:09:39.736Z,None,胎死腹中事件後，女孩還會希望跟男性醫生交往嗎？
325,206232,mood,None,大喇喇的射手女孩有時候實在TMD粗魯，但當你認識她的時候，她真的溫柔當她更喜歡你的時候(不一...,2019-02-23 03:19:45.957,2015-05-18T10:20:51.165Z,None,射手女孩都這樣嗎?
326,205011,mood,None,小的是一個離家好幾十公里唸書的孩子在家裡是最大的小孩下面有一個弟弟一個妹妹老爸在國外工作媽媽...,2019-02-23 03:20:40.363,2015-05-18T00:31:49.728Z,None,弟弟，剋星回來囉！
327,206927,talk,None,因為接下來三天天天要小考大考一直想著要讀書要讀書要讀書的玩了一個下午晚上的手遊好不容易關掉遊...,2019-02-18 06:07:54.379,2015-05-18T15:28:22.323Z,None,世界上最浪漫的情話
328,209133,talk,None,最近閃光怕我暑假無聊買了一本超厚超厚的《S.》來給我殺時間（因為他在當兵所以沒什麼時間陪我）...,2019-02-18 06:08:03.387,2015-05-19T09:26:30.692Z,None,有關《S.》這部小說的問題
329,209757,mood,None,---------前提------------我是某個不靠海縣市+保守家庭養出的小孩，也許會...,2019-02-23 03:20:13.005,2015-05-19T13:29:55.953Z,None,有那個勇氣為什麼不敢進學校面對你的書啊(文長)
330,206372,talk,None,蒸餃電鍋清蒸水餃下水煮煎餃加少許的油煎哪個比較好吃呢 ?_ _下一篇 餃子跟天津飯哪個好吃?...,2019-02-18 06:06:51.582,2015-05-18T11:36:20.070Z,None,蒸餃、水餃跟煎餃哪個比較好吃 ?
331,205150,talk,None,有一年，我跟一群朋友吃飯。 我們開心的在聊天聊到一半。Ａ同學說：「欸，我大學時期騎車這麼的危...,2019-02-18 06:06:41.768,2015-05-18T02:32:08.683Z,None,千萬別鐵齒啊～～
332,207327,talk,None,今天看到這篇文章http://goo.gl/xaoYxF覺得統測生為甚麼待遇差這麼多去年我考...,2019-02-18 06:08:03.415,2015-05-18T17:04:15.669Z,None,會考、統測大出包，學生待遇大不同
333,208286,mood,None,"從下定決心每天要運動還自己一個健康的身體開始,每晚操場跑步也持續了一個多月,差不多跑了快一個...",2019-02-23 03:22:41.488,2015-05-19T03:40:18.578Z,None,那個我一直追不到的女孩
334,209273,mood,None,好 因為現在春天人發春是正常的但為什麼身邊都是見色忘友的人阿以前都笑笑的說我們是永遠的BFF...,2019-02-23 03:20:02.729,2015-05-19T10:13:16.245Z,None,關於見色忘友
335,205792,talk,None,我借男生朋友的帳號發的~小妹這學期修了一門有助教帶討論的課總而言之事情就發生在討論課我們教授...,2019-02-18 06:07:54.959,2015-05-18T07:42:10.363Z,None,請不要把怪怪的東西放在桌上=_=
336,205648,mood,None,我想應該有人有和我一樣的經驗我的大學好朋友是系上公認的正妹就是學長哈她同屆愛她學弟也迷戀的那...,2019-02-23 03:22:15.527,2015-05-18T06:33:31.694Z,None,為什麼我要當別人和她的交友踏板
337,209958,talk,None,深夜裡城市透著微光我沿著河畔漫步水岸此刻你想著誰?妳在遙遠的島國生活我在彼岸相望夜空 月明星...,2019-02-18 06:09:48.853,2015-05-19T14:26:08.026Z,None,"最近上走在學校偶有靈感,寫了一首詩"
338,206800,mood,None,有些人在別人面前總是很快樂搞笑啊，扮諧星啊看到別人快樂自己其實也會快樂但其實是因為我們不想帶...,2019-02-23 03:20:48.847,2015-05-18T14:49:47.273Z,None,其實我們不堅強只是會隱藏難過
339,205196,trending,None,37歲的黃姓高齡產婦孩子胎死腹中，日前在立委姚文智與謝維洲的陪同下召開記者會，控訴台北榮總醫...,2019-02-14 02:34:52.670,2015-05-18T03:01:57.018Z,None,榮總死胎案醫師請辭 姚文智鞠躬道歉快閃
340,205345,mood,None,寒假期間，我跟我媽媽吵架了，而且是大吵特吵的那種吵架。吵架的原因很簡單，就是因為我媽很不喜歡...,2019-02-23 03:22:15.988,2015-05-18T04:05:18.783Z,None,【討論】為什麼家人總之限制小孩的發文自由？（文有點長）

In [31]:
article_raw_pd_list = []

In [32]:
target = 100000000
step = 100000
start = 0
HELPER_KEYSPACE = 'nlp_keyspace'

In [33]:
for x in range(start,target,step):
#     print str(x) + " ~ " + str(x+step)

    try:
        #select range
        cql = ("select article_id, question from dcard_query_table " +
                "where article_id > " + str(x) + " and article_id <= " + str(x+step) +
                " group by article_id allow filtering;")

#         cql = ("select * from nlp_keyspace.dcard_article " +
#                 "where article_id > " + str(x) + " and article_id <= " + str(x+step) + " allow filtering;")
        print cql
    #     cql = ("select * from nlp_keyspace.dcard_article_test;")
        pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
        article_raw_pd_list.append(pd_df)
    except:
        print 'break'
        cql = ("select article_id, question from dcard_query_table " +
                "where article_id > " + str(x) + " and article_id <= " + str(x+step) +
                " group by article_id allow filtering;")
        print cql
    #     cql = ("select * from nlp_keyspace.dcard_article_test;")
        pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
        article_raw_pd_list.append(pd_df)
        continue

select article_id, question from dcard_query_table where article_id > 0 and article_id <= 100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 100000 and article_id <= 200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 200000 and article_id <= 300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 300000 and article_id <= 400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 400000 and article_id <= 500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 500000 and article_id <= 600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 600000 and article_id <= 700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 700000 and article_id <= 800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 800000 and article_id <= 900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 900000 and article_id <= 1000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1000000 and article_id <= 1100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1100000 and article_id <= 1200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1200000 and article_id <= 1300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1300000 and article_id <= 1400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1400000 and article_id <= 1500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1500000 and article_id <= 1600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1600000 and article_id <= 1700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1700000 and article_id <= 1800000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 1700000 and article_id <= 1800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1800000 and article_id <= 1900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 1900000 and article_id <= 2000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2000000 and article_id <= 2100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2100000 and article_id <= 2200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2200000 and article_id <= 2300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2300000 and article_id <= 2400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2400000 and article_id <= 2500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2500000 and article_id <= 2600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2600000 and article_id <= 2700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2700000 and article_id <= 2800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2800000 and article_id <= 2900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 2900000 and article_id <= 3000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3000000 and article_id <= 3100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3100000 and article_id <= 3200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3200000 and article_id <= 3300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3300000 and article_id <= 3400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3400000 and article_id <= 3500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3500000 and article_id <= 3600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3600000 and article_id <= 3700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3700000 and article_id <= 3800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3800000 and article_id <= 3900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 3900000 and article_id <= 4000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4000000 and article_id <= 4100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4100000 and article_id <= 4200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4200000 and article_id <= 4300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4300000 and article_id <= 4400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4400000 and article_id <= 4500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4500000 and article_id <= 4600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4600000 and article_id <= 4700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4700000 and article_id <= 4800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4800000 and article_id <= 4900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 4900000 and article_id <= 5000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5000000 and article_id <= 5100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5100000 and article_id <= 5200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5200000 and article_id <= 5300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5300000 and article_id <= 5400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5400000 and article_id <= 5500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5500000 and article_id <= 5600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5600000 and article_id <= 5700000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 5700000 and article_id <= 5800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5800000 and article_id <= 5900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 5900000 and article_id <= 6000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6000000 and article_id <= 6100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6100000 and article_id <= 6200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6200000 and article_id <= 6300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6300000 and article_id <= 6400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6400000 and article_id <= 6500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6500000 and article_id <= 6600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6600000 and article_id <= 6700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6700000 and article_id <= 6800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6800000 and article_id <= 6900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 6900000 and article_id <= 7000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7000000 and article_id <= 7100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7100000 and article_id <= 7200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7200000 and article_id <= 7300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7300000 and article_id <= 7400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7400000 and article_id <= 7500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7500000 and article_id <= 7600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7600000 and article_id <= 7700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7700000 and article_id <= 7800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7800000 and article_id <= 7900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 7900000 and article_id <= 8000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8000000 and article_id <= 8100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8100000 and article_id <= 8200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8200000 and article_id <= 8300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8300000 and article_id <= 8400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8400000 and article_id <= 8500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8500000 and article_id <= 8600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8600000 and article_id <= 8700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8700000 and article_id <= 8800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8800000 and article_id <= 8900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 8900000 and article_id <= 9000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9000000 and article_id <= 9100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9100000 and article_id <= 9200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9200000 and article_id <= 9300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9300000 and article_id <= 9400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9400000 and article_id <= 9500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9500000 and article_id <= 9600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9600000 and article_id <= 9700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9700000 and article_id <= 9800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9800000 and article_id <= 9900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 9900000 and article_id <= 10000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10000000 and article_id <= 10100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10100000 and article_id <= 10200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10200000 and article_id <= 10300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10300000 and article_id <= 10400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10400000 and article_id <= 10500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10500000 and article_id <= 10600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10600000 and article_id <= 10700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10700000 and article_id <= 10800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10800000 and article_id <= 10900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 10900000 and article_id <= 11000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11000000 and article_id <= 11100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11100000 and article_id <= 11200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11200000 and article_id <= 11300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11300000 and article_id <= 11400000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 11400000 and article_id <= 11500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11500000 and article_id <= 11600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11600000 and article_id <= 11700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11700000 and article_id <= 11800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11800000 and article_id <= 11900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 11900000 and article_id <= 12000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12000000 and article_id <= 12100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12100000 and article_id <= 12200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12200000 and article_id <= 12300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12300000 and article_id <= 12400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12400000 and article_id <= 12500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12500000 and article_id <= 12600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12600000 and article_id <= 12700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12700000 and article_id <= 12800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12800000 and article_id <= 12900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 12900000 and article_id <= 13000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13000000 and article_id <= 13100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13100000 and article_id <= 13200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13200000 and article_id <= 13300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13300000 and article_id <= 13400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13400000 and article_id <= 13500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13500000 and article_id <= 13600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13600000 and article_id <= 13700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13700000 and article_id <= 13800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13800000 and article_id <= 13900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 13900000 and article_id <= 14000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14000000 and article_id <= 14100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14100000 and article_id <= 14200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14200000 and article_id <= 14300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14300000 and article_id <= 14400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14400000 and article_id <= 14500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14500000 and article_id <= 14600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14600000 and article_id <= 14700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14700000 and article_id <= 14800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14800000 and article_id <= 14900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 14900000 and article_id <= 15000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15000000 and article_id <= 15100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15100000 and article_id <= 15200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15200000 and article_id <= 15300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15300000 and article_id <= 15400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15400000 and article_id <= 15500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15500000 and article_id <= 15600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15600000 and article_id <= 15700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15700000 and article_id <= 15800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15800000 and article_id <= 15900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 15900000 and article_id <= 16000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16000000 and article_id <= 16100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16100000 and article_id <= 16200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16200000 and article_id <= 16300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16300000 and article_id <= 16400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16400000 and article_id <= 16500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16500000 and article_id <= 16600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16600000 and article_id <= 16700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16700000 and article_id <= 16800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16800000 and article_id <= 16900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 16900000 and article_id <= 17000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17000000 and article_id <= 17100000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 17100000 and article_id <= 17200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17200000 and article_id <= 17300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17300000 and article_id <= 17400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17400000 and article_id <= 17500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17500000 and article_id <= 17600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17600000 and article_id <= 17700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17700000 and article_id <= 17800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17800000 and article_id <= 17900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 17900000 and article_id <= 18000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18000000 and article_id <= 18100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18100000 and article_id <= 18200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18200000 and article_id <= 18300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18300000 and article_id <= 18400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18400000 and article_id <= 18500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18500000 and article_id <= 18600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18600000 and article_id <= 18700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18700000 and article_id <= 18800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18800000 and article_id <= 18900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 18900000 and article_id <= 19000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19000000 and article_id <= 19100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19100000 and article_id <= 19200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19200000 and article_id <= 19300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19300000 and article_id <= 19400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19400000 and article_id <= 19500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19500000 and article_id <= 19600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19600000 and article_id <= 19700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19700000 and article_id <= 19800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19800000 and article_id <= 19900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 19900000 and article_id <= 20000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20000000 and article_id <= 20100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20100000 and article_id <= 20200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20200000 and article_id <= 20300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20300000 and article_id <= 20400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20400000 and article_id <= 20500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20500000 and article_id <= 20600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20600000 and article_id <= 20700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20700000 and article_id <= 20800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20800000 and article_id <= 20900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 20900000 and article_id <= 21000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21000000 and article_id <= 21100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21100000 and article_id <= 21200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21200000 and article_id <= 21300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21300000 and article_id <= 21400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21400000 and article_id <= 21500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21500000 and article_id <= 21600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21600000 and article_id <= 21700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21700000 and article_id <= 21800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21800000 and article_id <= 21900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 21900000 and article_id <= 22000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22000000 and article_id <= 22100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22100000 and article_id <= 22200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22200000 and article_id <= 22300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22300000 and article_id <= 22400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22400000 and article_id <= 22500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22500000 and article_id <= 22600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22600000 and article_id <= 22700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22700000 and article_id <= 22800000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 22800000 and article_id <= 22900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 22900000 and article_id <= 23000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23000000 and article_id <= 23100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23100000 and article_id <= 23200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23200000 and article_id <= 23300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23300000 and article_id <= 23400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23400000 and article_id <= 23500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23500000 and article_id <= 23600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23600000 and article_id <= 23700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23700000 and article_id <= 23800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23800000 and article_id <= 23900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 23900000 and article_id <= 24000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24000000 and article_id <= 24100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24100000 and article_id <= 24200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24200000 and article_id <= 24300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24300000 and article_id <= 24400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24400000 and article_id <= 24500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24500000 and article_id <= 24600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24600000 and article_id <= 24700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24700000 and article_id <= 24800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24800000 and article_id <= 24900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 24900000 and article_id <= 25000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25000000 and article_id <= 25100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25100000 and article_id <= 25200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25200000 and article_id <= 25300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25300000 and article_id <= 25400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25400000 and article_id <= 25500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25500000 and article_id <= 25600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25600000 and article_id <= 25700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25700000 and article_id <= 25800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25800000 and article_id <= 25900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 25900000 and article_id <= 26000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26000000 and article_id <= 26100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26100000 and article_id <= 26200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26200000 and article_id <= 26300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26300000 and article_id <= 26400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26400000 and article_id <= 26500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26500000 and article_id <= 26600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26600000 and article_id <= 26700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26700000 and article_id <= 26800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26800000 and article_id <= 26900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 26900000 and article_id <= 27000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27000000 and article_id <= 27100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27100000 and article_id <= 27200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27200000 and article_id <= 27300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27300000 and article_id <= 27400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27400000 and article_id <= 27500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27500000 and article_id <= 27600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27600000 and article_id <= 27700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27700000 and article_id <= 27800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27800000 and article_id <= 27900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 27900000 and article_id <= 28000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28000000 and article_id <= 28100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28100000 and article_id <= 28200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28200000 and article_id <= 28300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28300000 and article_id <= 28400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28400000 and article_id <= 28500000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 28500000 and article_id <= 28600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28600000 and article_id <= 28700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28700000 and article_id <= 28800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28800000 and article_id <= 28900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 28900000 and article_id <= 29000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29000000 and article_id <= 29100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29100000 and article_id <= 29200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29200000 and article_id <= 29300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29300000 and article_id <= 29400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29400000 and article_id <= 29500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29500000 and article_id <= 29600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29600000 and article_id <= 29700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29700000 and article_id <= 29800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29800000 and article_id <= 29900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 29900000 and article_id <= 30000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30000000 and article_id <= 30100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30100000 and article_id <= 30200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30200000 and article_id <= 30300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30300000 and article_id <= 30400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30400000 and article_id <= 30500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30500000 and article_id <= 30600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30600000 and article_id <= 30700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30700000 and article_id <= 30800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30800000 and article_id <= 30900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 30900000 and article_id <= 31000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31000000 and article_id <= 31100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31100000 and article_id <= 31200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31200000 and article_id <= 31300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31300000 and article_id <= 31400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31400000 and article_id <= 31500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31500000 and article_id <= 31600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31600000 and article_id <= 31700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31700000 and article_id <= 31800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31800000 and article_id <= 31900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 31900000 and article_id <= 32000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32000000 and article_id <= 32100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32100000 and article_id <= 32200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32200000 and article_id <= 32300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32300000 and article_id <= 32400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32400000 and article_id <= 32500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32500000 and article_id <= 32600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32600000 and article_id <= 32700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32700000 and article_id <= 32800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32800000 and article_id <= 32900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 32900000 and article_id <= 33000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33000000 and article_id <= 33100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33100000 and article_id <= 33200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33200000 and article_id <= 33300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33300000 and article_id <= 33400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33400000 and article_id <= 33500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33500000 and article_id <= 33600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33600000 and article_id <= 33700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33700000 and article_id <= 33800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33800000 and article_id <= 33900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 33900000 and article_id <= 34000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34000000 and article_id <= 34100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34100000 and article_id <= 34200000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 34200000 and article_id <= 34300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34300000 and article_id <= 34400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34400000 and article_id <= 34500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34500000 and article_id <= 34600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34600000 and article_id <= 34700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34700000 and article_id <= 34800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34800000 and article_id <= 34900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 34900000 and article_id <= 35000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35000000 and article_id <= 35100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35100000 and article_id <= 35200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35200000 and article_id <= 35300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35300000 and article_id <= 35400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35400000 and article_id <= 35500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35500000 and article_id <= 35600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35600000 and article_id <= 35700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35700000 and article_id <= 35800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35800000 and article_id <= 35900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 35900000 and article_id <= 36000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36000000 and article_id <= 36100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36100000 and article_id <= 36200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36200000 and article_id <= 36300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36300000 and article_id <= 36400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36400000 and article_id <= 36500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36500000 and article_id <= 36600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36600000 and article_id <= 36700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36700000 and article_id <= 36800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36800000 and article_id <= 36900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 36900000 and article_id <= 37000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37000000 and article_id <= 37100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37100000 and article_id <= 37200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37200000 and article_id <= 37300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37300000 and article_id <= 37400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37400000 and article_id <= 37500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37500000 and article_id <= 37600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37600000 and article_id <= 37700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37700000 and article_id <= 37800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37800000 and article_id <= 37900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 37900000 and article_id <= 38000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38000000 and article_id <= 38100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38100000 and article_id <= 38200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38200000 and article_id <= 38300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38300000 and article_id <= 38400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38400000 and article_id <= 38500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38500000 and article_id <= 38600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38600000 and article_id <= 38700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38700000 and article_id <= 38800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38800000 and article_id <= 38900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 38900000 and article_id <= 39000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39000000 and article_id <= 39100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39100000 and article_id <= 39200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39200000 and article_id <= 39300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39300000 and article_id <= 39400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39400000 and article_id <= 39500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39500000 and article_id <= 39600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39600000 and article_id <= 39700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39700000 and article_id <= 39800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 39800000 and article_id <= 39900000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 39900000 and article_id <= 40000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40000000 and article_id <= 40100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40100000 and article_id <= 40200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40200000 and article_id <= 40300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40300000 and article_id <= 40400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40400000 and article_id <= 40500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40500000 and article_id <= 40600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40600000 and article_id <= 40700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40700000 and article_id <= 40800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40800000 and article_id <= 40900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 40900000 and article_id <= 41000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41000000 and article_id <= 41100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41100000 and article_id <= 41200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41200000 and article_id <= 41300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41300000 and article_id <= 41400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41400000 and article_id <= 41500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41500000 and article_id <= 41600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41600000 and article_id <= 41700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41700000 and article_id <= 41800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41800000 and article_id <= 41900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 41900000 and article_id <= 42000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42000000 and article_id <= 42100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42100000 and article_id <= 42200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42200000 and article_id <= 42300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42300000 and article_id <= 42400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42400000 and article_id <= 42500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42500000 and article_id <= 42600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42600000 and article_id <= 42700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42700000 and article_id <= 42800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42800000 and article_id <= 42900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 42900000 and article_id <= 43000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43000000 and article_id <= 43100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43100000 and article_id <= 43200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43200000 and article_id <= 43300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43300000 and article_id <= 43400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43400000 and article_id <= 43500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43500000 and article_id <= 43600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43600000 and article_id <= 43700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43700000 and article_id <= 43800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43800000 and article_id <= 43900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 43900000 and article_id <= 44000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44000000 and article_id <= 44100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44100000 and article_id <= 44200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44200000 and article_id <= 44300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44300000 and article_id <= 44400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44400000 and article_id <= 44500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44500000 and article_id <= 44600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44600000 and article_id <= 44700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44700000 and article_id <= 44800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44800000 and article_id <= 44900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 44900000 and article_id <= 45000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45000000 and article_id <= 45100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45100000 and article_id <= 45200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45200000 and article_id <= 45300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45300000 and article_id <= 45400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45400000 and article_id <= 45500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45500000 and article_id <= 45600000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 45600000 and article_id <= 45700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45700000 and article_id <= 45800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45800000 and article_id <= 45900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 45900000 and article_id <= 46000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46000000 and article_id <= 46100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46100000 and article_id <= 46200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46200000 and article_id <= 46300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46300000 and article_id <= 46400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46400000 and article_id <= 46500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46500000 and article_id <= 46600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46600000 and article_id <= 46700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46700000 and article_id <= 46800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46800000 and article_id <= 46900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 46900000 and article_id <= 47000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47000000 and article_id <= 47100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47100000 and article_id <= 47200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47200000 and article_id <= 47300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47300000 and article_id <= 47400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47400000 and article_id <= 47500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47500000 and article_id <= 47600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47600000 and article_id <= 47700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47700000 and article_id <= 47800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47800000 and article_id <= 47900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 47900000 and article_id <= 48000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48000000 and article_id <= 48100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48100000 and article_id <= 48200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48200000 and article_id <= 48300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48300000 and article_id <= 48400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48400000 and article_id <= 48500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48500000 and article_id <= 48600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48600000 and article_id <= 48700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48700000 and article_id <= 48800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48800000 and article_id <= 48900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 48900000 and article_id <= 49000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49000000 and article_id <= 49100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49100000 and article_id <= 49200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49200000 and article_id <= 49300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49300000 and article_id <= 49400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49400000 and article_id <= 49500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49500000 and article_id <= 49600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49600000 and article_id <= 49700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49700000 and article_id <= 49800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49800000 and article_id <= 49900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 49900000 and article_id <= 50000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50000000 and article_id <= 50100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50100000 and article_id <= 50200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50200000 and article_id <= 50300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50300000 and article_id <= 50400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50400000 and article_id <= 50500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50500000 and article_id <= 50600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50600000 and article_id <= 50700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50700000 and article_id <= 50800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50800000 and article_id <= 50900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 50900000 and article_id <= 51000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51000000 and article_id <= 51100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51100000 and article_id <= 51200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51200000 and article_id <= 51300000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 51300000 and article_id <= 51400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51400000 and article_id <= 51500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51500000 and article_id <= 51600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51600000 and article_id <= 51700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51700000 and article_id <= 51800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51800000 and article_id <= 51900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 51900000 and article_id <= 52000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52000000 and article_id <= 52100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52100000 and article_id <= 52200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52200000 and article_id <= 52300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52300000 and article_id <= 52400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52400000 and article_id <= 52500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52500000 and article_id <= 52600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52600000 and article_id <= 52700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52700000 and article_id <= 52800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52800000 and article_id <= 52900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 52900000 and article_id <= 53000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53000000 and article_id <= 53100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53100000 and article_id <= 53200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53200000 and article_id <= 53300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53300000 and article_id <= 53400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53400000 and article_id <= 53500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53500000 and article_id <= 53600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53600000 and article_id <= 53700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53700000 and article_id <= 53800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53800000 and article_id <= 53900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 53900000 and article_id <= 54000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54000000 and article_id <= 54100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54100000 and article_id <= 54200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54200000 and article_id <= 54300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54300000 and article_id <= 54400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54400000 and article_id <= 54500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54500000 and article_id <= 54600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54600000 and article_id <= 54700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54700000 and article_id <= 54800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54800000 and article_id <= 54900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 54900000 and article_id <= 55000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55000000 and article_id <= 55100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55100000 and article_id <= 55200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55200000 and article_id <= 55300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55300000 and article_id <= 55400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55400000 and article_id <= 55500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55500000 and article_id <= 55600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55600000 and article_id <= 55700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55700000 and article_id <= 55800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55800000 and article_id <= 55900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 55900000 and article_id <= 56000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56000000 and article_id <= 56100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56100000 and article_id <= 56200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56200000 and article_id <= 56300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56300000 and article_id <= 56400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56400000 and article_id <= 56500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56500000 and article_id <= 56600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56600000 and article_id <= 56700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56700000 and article_id <= 56800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56800000 and article_id <= 56900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 56900000 and article_id <= 57000000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 57000000 and article_id <= 57100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57100000 and article_id <= 57200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57200000 and article_id <= 57300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57300000 and article_id <= 57400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57400000 and article_id <= 57500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57500000 and article_id <= 57600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57600000 and article_id <= 57700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57700000 and article_id <= 57800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57800000 and article_id <= 57900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 57900000 and article_id <= 58000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58000000 and article_id <= 58100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58100000 and article_id <= 58200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58200000 and article_id <= 58300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58300000 and article_id <= 58400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58400000 and article_id <= 58500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58500000 and article_id <= 58600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58600000 and article_id <= 58700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58700000 and article_id <= 58800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58800000 and article_id <= 58900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 58900000 and article_id <= 59000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59000000 and article_id <= 59100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59100000 and article_id <= 59200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59200000 and article_id <= 59300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59300000 and article_id <= 59400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59400000 and article_id <= 59500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59500000 and article_id <= 59600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59600000 and article_id <= 59700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59700000 and article_id <= 59800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59800000 and article_id <= 59900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 59900000 and article_id <= 60000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60000000 and article_id <= 60100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60100000 and article_id <= 60200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60200000 and article_id <= 60300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60300000 and article_id <= 60400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60400000 and article_id <= 60500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60500000 and article_id <= 60600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60600000 and article_id <= 60700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60700000 and article_id <= 60800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60800000 and article_id <= 60900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 60900000 and article_id <= 61000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61000000 and article_id <= 61100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61100000 and article_id <= 61200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61200000 and article_id <= 61300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61300000 and article_id <= 61400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61400000 and article_id <= 61500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61500000 and article_id <= 61600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61600000 and article_id <= 61700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61700000 and article_id <= 61800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61800000 and article_id <= 61900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 61900000 and article_id <= 62000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62000000 and article_id <= 62100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62100000 and article_id <= 62200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62200000 and article_id <= 62300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62300000 and article_id <= 62400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62400000 and article_id <= 62500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62500000 and article_id <= 62600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62600000 and article_id <= 62700000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 62700000 and article_id <= 62800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62800000 and article_id <= 62900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 62900000 and article_id <= 63000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63000000 and article_id <= 63100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63100000 and article_id <= 63200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63200000 and article_id <= 63300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63300000 and article_id <= 63400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63400000 and article_id <= 63500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63500000 and article_id <= 63600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63600000 and article_id <= 63700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63700000 and article_id <= 63800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63800000 and article_id <= 63900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 63900000 and article_id <= 64000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64000000 and article_id <= 64100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64100000 and article_id <= 64200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64200000 and article_id <= 64300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64300000 and article_id <= 64400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64400000 and article_id <= 64500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64500000 and article_id <= 64600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64600000 and article_id <= 64700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64700000 and article_id <= 64800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64800000 and article_id <= 64900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 64900000 and article_id <= 65000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65000000 and article_id <= 65100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65100000 and article_id <= 65200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65200000 and article_id <= 65300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65300000 and article_id <= 65400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65400000 and article_id <= 65500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65500000 and article_id <= 65600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65600000 and article_id <= 65700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65700000 and article_id <= 65800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65800000 and article_id <= 65900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 65900000 and article_id <= 66000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66000000 and article_id <= 66100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66100000 and article_id <= 66200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66200000 and article_id <= 66300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66300000 and article_id <= 66400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66400000 and article_id <= 66500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66500000 and article_id <= 66600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66600000 and article_id <= 66700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66700000 and article_id <= 66800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66800000 and article_id <= 66900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 66900000 and article_id <= 67000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67000000 and article_id <= 67100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67100000 and article_id <= 67200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67200000 and article_id <= 67300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67300000 and article_id <= 67400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67400000 and article_id <= 67500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67500000 and article_id <= 67600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67600000 and article_id <= 67700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67700000 and article_id <= 67800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67800000 and article_id <= 67900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 67900000 and article_id <= 68000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68000000 and article_id <= 68100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68100000 and article_id <= 68200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68200000 and article_id <= 68300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68300000 and article_id <= 68400000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 68400000 and article_id <= 68500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68500000 and article_id <= 68600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68600000 and article_id <= 68700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68700000 and article_id <= 68800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68800000 and article_id <= 68900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 68900000 and article_id <= 69000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69000000 and article_id <= 69100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69100000 and article_id <= 69200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69200000 and article_id <= 69300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69300000 and article_id <= 69400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69400000 and article_id <= 69500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69500000 and article_id <= 69600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69600000 and article_id <= 69700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69700000 and article_id <= 69800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69800000 and article_id <= 69900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 69900000 and article_id <= 70000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70000000 and article_id <= 70100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70100000 and article_id <= 70200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70200000 and article_id <= 70300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70300000 and article_id <= 70400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70400000 and article_id <= 70500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70500000 and article_id <= 70600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70600000 and article_id <= 70700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70700000 and article_id <= 70800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70800000 and article_id <= 70900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 70900000 and article_id <= 71000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71000000 and article_id <= 71100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71100000 and article_id <= 71200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71200000 and article_id <= 71300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71300000 and article_id <= 71400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71400000 and article_id <= 71500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71500000 and article_id <= 71600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71600000 and article_id <= 71700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71700000 and article_id <= 71800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71800000 and article_id <= 71900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 71900000 and article_id <= 72000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72000000 and article_id <= 72100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72100000 and article_id <= 72200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72200000 and article_id <= 72300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72300000 and article_id <= 72400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72400000 and article_id <= 72500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72500000 and article_id <= 72600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72600000 and article_id <= 72700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72700000 and article_id <= 72800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72800000 and article_id <= 72900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 72900000 and article_id <= 73000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73000000 and article_id <= 73100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73100000 and article_id <= 73200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73200000 and article_id <= 73300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73300000 and article_id <= 73400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73400000 and article_id <= 73500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73500000 and article_id <= 73600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73600000 and article_id <= 73700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73700000 and article_id <= 73800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73800000 and article_id <= 73900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 73900000 and article_id <= 74000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74000000 and article_id <= 74100000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 74100000 and article_id <= 74200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74200000 and article_id <= 74300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74300000 and article_id <= 74400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74400000 and article_id <= 74500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74500000 and article_id <= 74600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74600000 and article_id <= 74700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74700000 and article_id <= 74800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74800000 and article_id <= 74900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 74900000 and article_id <= 75000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75000000 and article_id <= 75100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75100000 and article_id <= 75200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75200000 and article_id <= 75300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75300000 and article_id <= 75400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75400000 and article_id <= 75500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75500000 and article_id <= 75600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75600000 and article_id <= 75700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75700000 and article_id <= 75800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75800000 and article_id <= 75900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 75900000 and article_id <= 76000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76000000 and article_id <= 76100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76100000 and article_id <= 76200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76200000 and article_id <= 76300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76300000 and article_id <= 76400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76400000 and article_id <= 76500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76500000 and article_id <= 76600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76600000 and article_id <= 76700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76700000 and article_id <= 76800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76800000 and article_id <= 76900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 76900000 and article_id <= 77000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77000000 and article_id <= 77100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77100000 and article_id <= 77200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77200000 and article_id <= 77300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77300000 and article_id <= 77400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77400000 and article_id <= 77500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77500000 and article_id <= 77600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77600000 and article_id <= 77700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77700000 and article_id <= 77800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77800000 and article_id <= 77900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 77900000 and article_id <= 78000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78000000 and article_id <= 78100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78100000 and article_id <= 78200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78200000 and article_id <= 78300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78300000 and article_id <= 78400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78400000 and article_id <= 78500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78500000 and article_id <= 78600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78600000 and article_id <= 78700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78700000 and article_id <= 78800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78800000 and article_id <= 78900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 78900000 and article_id <= 79000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79000000 and article_id <= 79100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79100000 and article_id <= 79200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79200000 and article_id <= 79300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79300000 and article_id <= 79400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79400000 and article_id <= 79500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79500000 and article_id <= 79600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79600000 and article_id <= 79700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79700000 and article_id <= 79800000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 79800000 and article_id <= 79900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 79900000 and article_id <= 80000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80000000 and article_id <= 80100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80100000 and article_id <= 80200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80200000 and article_id <= 80300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80300000 and article_id <= 80400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80400000 and article_id <= 80500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80500000 and article_id <= 80600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80600000 and article_id <= 80700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80700000 and article_id <= 80800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80800000 and article_id <= 80900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 80900000 and article_id <= 81000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81000000 and article_id <= 81100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81100000 and article_id <= 81200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81200000 and article_id <= 81300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81300000 and article_id <= 81400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81400000 and article_id <= 81500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81500000 and article_id <= 81600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81600000 and article_id <= 81700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81700000 and article_id <= 81800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81800000 and article_id <= 81900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 81900000 and article_id <= 82000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82000000 and article_id <= 82100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82100000 and article_id <= 82200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82200000 and article_id <= 82300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82300000 and article_id <= 82400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82400000 and article_id <= 82500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82500000 and article_id <= 82600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82600000 and article_id <= 82700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82700000 and article_id <= 82800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82800000 and article_id <= 82900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 82900000 and article_id <= 83000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83000000 and article_id <= 83100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83100000 and article_id <= 83200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83200000 and article_id <= 83300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83300000 and article_id <= 83400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83400000 and article_id <= 83500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83500000 and article_id <= 83600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83600000 and article_id <= 83700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83700000 and article_id <= 83800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83800000 and article_id <= 83900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 83900000 and article_id <= 84000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84000000 and article_id <= 84100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84100000 and article_id <= 84200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84200000 and article_id <= 84300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84300000 and article_id <= 84400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84400000 and article_id <= 84500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84500000 and article_id <= 84600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84600000 and article_id <= 84700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84700000 and article_id <= 84800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84800000 and article_id <= 84900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 84900000 and article_id <= 85000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85000000 and article_id <= 85100000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 85000000 and article_id <= 85100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85100000 and article_id <= 85200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85200000 and article_id <= 85300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85300000 and article_id <= 85400000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 85400000 and article_id <= 85500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85500000 and article_id <= 85600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85600000 and article_id <= 85700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85700000 and article_id <= 85800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85800000 and article_id <= 85900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 85900000 and article_id <= 86000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86000000 and article_id <= 86100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86100000 and article_id <= 86200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86200000 and article_id <= 86300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86300000 and article_id <= 86400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86400000 and article_id <= 86500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86500000 and article_id <= 86600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86600000 and article_id <= 86700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86700000 and article_id <= 86800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86800000 and article_id <= 86900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 86900000 and article_id <= 87000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87000000 and article_id <= 87100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87100000 and article_id <= 87200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87200000 and article_id <= 87300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87300000 and article_id <= 87400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87400000 and article_id <= 87500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87500000 and article_id <= 87600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87600000 and article_id <= 87700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87700000 and article_id <= 87800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87800000 and article_id <= 87900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 87900000 and article_id <= 88000000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 87900000 and article_id <= 88000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88000000 and article_id <= 88100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88100000 and article_id <= 88200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88200000 and article_id <= 88300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88300000 and article_id <= 88400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88400000 and article_id <= 88500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88500000 and article_id <= 88600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88600000 and article_id <= 88700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88700000 and article_id <= 88800000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 88700000 and article_id <= 88800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88800000 and article_id <= 88900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 88900000 and article_id <= 89000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89000000 and article_id <= 89100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89100000 and article_id <= 89200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89200000 and article_id <= 89300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89300000 and article_id <= 89400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89400000 and article_id <= 89500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89500000 and article_id <= 89600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89600000 and article_id <= 89700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89700000 and article_id <= 89800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89800000 and article_id <= 89900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 89900000 and article_id <= 90000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90000000 and article_id <= 90100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90100000 and article_id <= 90200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90200000 and article_id <= 90300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90300000 and article_id <= 90400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90400000 and article_id <= 90500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90500000 and article_id <= 90600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90600000 and article_id <= 90700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90700000 and article_id <= 90800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 90800000 and article_id <= 90900000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 90900000 and article_id <= 91000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91000000 and article_id <= 91100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91100000 and article_id <= 91200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91200000 and article_id <= 91300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91300000 and article_id <= 91400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91400000 and article_id <= 91500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91500000 and article_id <= 91600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91600000 and article_id <= 91700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91700000 and article_id <= 91800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91800000 and article_id <= 91900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 91900000 and article_id <= 92000000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 91900000 and article_id <= 92000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92000000 and article_id <= 92100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92100000 and article_id <= 92200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92200000 and article_id <= 92300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92300000 and article_id <= 92400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92400000 and article_id <= 92500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92500000 and article_id <= 92600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92600000 and article_id <= 92700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92700000 and article_id <= 92800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92800000 and article_id <= 92900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 92900000 and article_id <= 93000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93000000 and article_id <= 93100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93100000 and article_id <= 93200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93200000 and article_id <= 93300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93300000 and article_id <= 93400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93400000 and article_id <= 93500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93500000 and article_id <= 93600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93600000 and article_id <= 93700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93700000 and article_id <= 93800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93800000 and article_id <= 93900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 93900000 and article_id <= 94000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94000000 and article_id <= 94100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94100000 and article_id <= 94200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94200000 and article_id <= 94300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94300000 and article_id <= 94400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94400000 and article_id <= 94500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94500000 and article_id <= 94600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94600000 and article_id <= 94700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94700000 and article_id <= 94800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94800000 and article_id <= 94900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 94900000 and article_id <= 95000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95000000 and article_id <= 95100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95100000 and article_id <= 95200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95200000 and article_id <= 95300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95300000 and article_id <= 95400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95400000 and article_id <= 95500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95500000 and article_id <= 95600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95600000 and article_id <= 95700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95700000 and article_id <= 95800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95800000 and article_id <= 95900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 95900000 and article_id <= 96000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96000000 and article_id <= 96100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96100000 and article_id <= 96200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96200000 and article_id <= 96300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96300000 and article_id <= 96400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96400000 and article_id <= 96500000 group by article_id allow filtering;

select article_id, question from dcard_query_table where article_id > 96500000 and article_id <= 96600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96600000 and article_id <= 96700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96700000 and article_id <= 96800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96800000 and article_id <= 96900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 96900000 and article_id <= 97000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97000000 and article_id <= 97100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97100000 and article_id <= 97200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97200000 and article_id <= 97300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97300000 and article_id <= 97400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97400000 and article_id <= 97500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97500000 and article_id <= 97600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97600000 and article_id <= 97700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97700000 and article_id <= 97800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97800000 and article_id <= 97900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 97900000 and article_id <= 98000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98000000 and article_id <= 98100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98100000 and article_id <= 98200000 group by article_id allow filtering;
break
select article_id, question from dcard_query_table where article_id > 98100000 and article_id <= 98200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98200000 and article_id <= 98300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98300000 and article_id <= 98400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98400000 and article_id <= 98500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98500000 and article_id <= 98600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98600000 and article_id <= 98700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98700000 and article_id <= 98800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98800000 and article_id <= 98900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 98900000 and article_id <= 99000000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99000000 and article_id <= 99100000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99100000 and article_id <= 99200000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99200000 and article_id <= 99300000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99300000 and article_id <= 99400000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99400000 and article_id <= 99500000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99500000 and article_id <= 99600000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99600000 and article_id <= 99700000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99700000 and article_id <= 99800000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99800000 and article_id <= 99900000 group by article_id allow filtering;
select article_id, question from dcard_query_table where article_id > 99900000 and article_id <= 100000000 group by article_id allow filtering;

In [22]:
# cql=("select * from nlp_keyspace.dcard_query_table where article_id >200000000 and article_id < 200200000 group by article_id allow filtering;")
# pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
# article_raw_pd_list.append(pd_df)

In [34]:
# del pd_df
print len(article_raw_pd_list)
query_df=pd.DataFrame(columns=['article_id','question'])

query_df=pd.concat(article_raw_pd_list).reset_index(drop=True)

1000

In [35]:
print len(query_df)
query_df

111038

        article_id                                           question
0            76367                                           自以為的以和為貴
1            13946                                              魯蛇成功記
2            83078                                   中華電信的iPhone6....
3            10305                                          剛剛考資格考第一科
4            46779                                         我想，這是一個里程碑
5            42565                                             最無奈的錯過
6            56309                                      有沒有感情過很坎坷的同路人
7            21766                                            想去旅行的城市
8            23962                                       既然遇見為何還是擦身而過
9            29720                                       愛情總是悄悄地出現 -5
10           82835                                             現在很想見你
11           64442                                           關於期末考的症狀
12           34744                                       有沒有私藏笑話可以聽 ?
13           84281                                              魯到都爛了
14           82471                                          永遠看不懂的驗證碼
15           35337                                              背包的款式
16           12820                         如果手機最多只能收藏200封訊息，你會保留哪些？：）
17           42412                                          BBC 候選人專訪
18           87694                                          臉頰烙印巴掌的記憶
19           35472                                    天呀 中午圖書館是晾美腿的地方
20           27682  大家都超嗨的啦！超好玩的啦！8/1台北單身趴圓滿落幕之超長心得與感謝文   大家好，我是副召...
21           58264                                          求救!想在楓谷跨年
22           12349                                     突然就是想不起來對方的本名!
23           28817                                                他的他
24           41188                                         大選在即，候選人是?
25           36167                                               安安你好
26           24792                                  妳喜歡他的一切，都是我調教出來的。
27           39299                                          其實自己呢呢呢～～
28           58351                                       關於出去玩滑手機這件事情
29           16634                                  最近的議題發燒發熱 卻讓我忽冷忽熱
...            ...                                                ...
111008    99713347                                           未滿18的大一生
111009    99740711                                    浩鼎案效應 民進黨訂翁啟惠條款
111010    99730593                                           放假還要被叫回去
111011    99765679                                           老妹真的太神回啦
111012    99783798                               美國首列互聯網屏蔽為貿易壁壘  中國反駁
111013    99739803                                               宿舍百態
111014    99765368                                 有人跟我一樣愛看wootalk文嗎😂
111015    99790716                                       VJR125的市占率??
111016    99815967                                             致..前男友
111017    99883028                                           彰化的下面是嘉義
111018    99821733                               對於台中吃燒肉訂位的無奈........
111019    99804095                                  越南促移南海鑽井平台 北京斷然拒絕
111020    99894993                                       下下禮拜別惹大學生不開心
111021    99829033                                     我的高中妹妹做料理Part2
111022    99849360                                        工作不嘗試後怎知好不好
111023    99852874                                         到底哪個報導是正確的
111024    99937412                                               大一領悟
111025    99960303                                                 三角
111026    99958929                                              #公車司機
111027    99941175                                             專業在哪裡？
111028    99974650                                           怎麼樣擴展交友圈
111029    99957837                                           身邊有沒有一種人
111030    99956251                                               我們的島
111031    99985770                                            大創可愛的婆婆
111032    99990566                                       有人跟我一樣是肚肚控嗎😂
111033    99964871                                       寶寶心理苦  但寶寶不說
111034    99972131                                             關於把妹金句
111035    99956186                                            沒有吃不胖的人
111036    99977672                                       不想去家庭旅遊該怎麼辦？
111037    99970227                                          我要用一句話上熱門

[111038 rows x 2 columns]

In [8]:
# from pyspark.sql.functions import udf
# def update_column(x):
# #     check = QuestionTypeCheck(segmentor)
# #     check.source = 'ptt'
# #     label = check.check_question_type(x)
#     input_text = input_text.replace(u'Re: ', u'')
#     input_text = re.sub(u"\\[.*?]", u"", input_text)
#     segmentor = JiebaSegmentor(jieba_dict_path1, [jieba_dict_path2,jieba_dict_path3,jieba_dict_path4])
#     segmentor.pseg_lcut('test')
#     return 'label'

# update_column_udf = udf(update_column)
# new_df = df.withColumn('question_type',
#                     update_column_udf(df['question_type']))

In [9]:
# new_df = df.limit(100)

In [10]:
# dao.saveToCassandraDF(new_df, "nlp_keyspace", "dcard_article_test", "append")

In [36]:
def filter_by_tag(tag):
    v_tag = ['v', 'vd', 'vg', 'vi', 'vn', 'vq', 'vt']
    n_tag = ['n', 'ng', 'nr', 'nrfg', 'nrt', 'ns', 'nt','nz']
    a_tag = ['a', 'ad', 'ag', 'an']
#         print tag['word'][0] + '(' + tag['tag'][0] + ')'
    if tag in v_tag or tag in n_tag or tag in a_tag:
        return True
    return False

def filter_by_tag_udf(row):
    v_tag = ['v', 'vd', 'vg', 'vi', 'vn', 'vq', 'vt']
    n_tag = ['n', 'ng', 'nr', 'nrfg', 'nrt', 'ns', 'nt','nz']
    a_tag = ['a', 'ad', 'ag', 'an']
#         print tag['word'][0] + '(' + tag['tag'][0] + ')'
    if row['tag'] in v_tag or row['tag'] in n_tag or row['tag'] in a_tag:
        return True
    return False

In [38]:
WORD_ARTICLE_MAPPING_TABLE = 'word_article_mapping'

for index, row in query_df.iterrows():
    
    # question斷詞
    if not row['question']:
        continue
    
#     print row['question']
    words = segmentor.pseg_lcut(row['question'])
#     print words
    article = row['article_id']
    for index, row in words.iterrows():
#         print row['word']
        
        # 只存名詞 and 動詞
        if filter_by_tag(row['tag']):
        # 每個詞更新到 mapping table
            cql = ("update " + WORD_ARTICLE_MAPPING_TABLE + " " +
                   "set article = article + [" + str(article) + "] " +
                   "where word = '" + row['word'] + "';")
#             print cql
#             dao.execCQL(HELPER_KEYSPACE, cql)

In [12]:
ppp

NameError: name 'ppp' is not defined

# query test

In [39]:
segmentor.stopwords=True
segmentor.pseg_lcut('肯德基新產品完勝麥當勞')

   tag word
0   nr  肯德基
1    a    新
2    n   產品
3    v   完勝
4  nrt  麥當勞

In [40]:
from gensim.corpora import *
from gensim.models import TfidfModel
from datetime import datetime
from gensim import models
tfidf_model_path = "/home/charles/dataset/tfidf_model/v2"
tfidf_model = TfidfModel.load(tfidf_model_path+"/tfidf.model")
dictionary = Dictionary.load(tfidf_model_path+"/tfidf_corpus_dict")

In [41]:
stopword_set = set()
with open(jieba_stopwords_path,'r') as stopwords:
    for stopword in stopwords:
        stopword_set.add(stopword.strip('\n').decode('utf-8'))

In [42]:
def find_keyword(text):
# #     test_cut_raw_0 = jieba.lcut(text)
#     test_cut_raw_0 =pseg.lcut(text)
#     text_subject_dict={}
#     for w,n in test_cut_raw_0:
#         print w + ' (' + n + ')'
#         text_subject_dict.update({w:n})
    
    if type(text) is not unicode:
        text = text.decode('utf-8')
        
    segmentor.stopwords=True

    text_subject_dict={}
    words_pd = segmentor.pseg_lcut(text)
    for index, row in words_pd.iterrows():
        text_subject_dict.update({row['word']:row['tag']})
        
    
    # jieba分词语料集 去除停用词
#     corpus0 = []
#     # load stopwords set
#     stopword_set = set()
#     with open(jieba_stopwords_path,'r') as stopwords:
#         for stopword in stopwords:
#             stopword_set.add(stopword.strip('\n').decode('utf8'))
#     for index, row in words_pd.iterrows():
#         if row['word'] not in stopword_set:
#             corpus0.append(row['word'])
    
    corpus0 = list(words_pd['word'])
    
    test_corpus_0 = dictionary.doc2bow(corpus0)
    test_corpus_tfidf_0 = tfidf_model[test_corpus_0]
    test_corpus_tfidf_0 = sorted(test_corpus_tfidf_0, key=lambda item: item[1], reverse=True)
    id2token = dict(zip(dictionary.token2id.values(), dictionary.token2id.keys()))
    result = []
    
    keyword_dict={}
    keyword_frames_list=[]
    word_list=[]
    tag_list=[]
    tfidf_list=[]
    for i in range(len(test_corpus_tfidf_0)):
        result.append({id2token[test_corpus_tfidf_0[i][0]]: test_corpus_tfidf_0[i][1]})
        print "--------------------------------------"
        word = id2token[test_corpus_tfidf_0[i][0]]
        tfidf = test_corpus_tfidf_0[i][1]
        print 'keyword: ' + word + '(' + text_subject_dict[word] + ') , tfidf: ' + str(tfidf)
        word_list.append(word)
        tag_list.append(text_subject_dict[word])
        tfidf_list.append(tfidf)
    
    keyword_pd=pd.DataFrame({"word":word_list,
                             "tag":tag_list,
                             "tfidf":tfidf_list})
    return keyword_pd
#         try:
#             w2v_predict(w2v_model, word)
#         except KeyError as er:
#             print 'no synonyms'

In [50]:
# TFIDF 字不會重複出現
keyword_pd = find_keyword('柯文哲2020選總統')
keyword_pd

--------------------------------------
keyword: 柯文哲(n) , tfidf: 0.7892749298187913
--------------------------------------
keyword: 選(v) , tfidf: 0.48881048728300514
--------------------------------------
keyword: 總統(n) , tfidf: 0.37163072085296306

  tag     tfidf word
0   n  0.789275  柯文哲
1   v  0.488810    選
2   n  0.371631   總統

In [51]:
# 查對應表
mapping_dict={}
mapping_frames_list=[]

# 只存名詞 and 動詞
keyword_pd['filter_by_tag'] = keyword_pd.apply(filter_by_tag_udf, axis=1)
keyword_pd = keyword_pd[keyword_pd['filter_by_tag'] == True]
print keyword_pd
top_n = 3
for index, row in keyword_pd.head(top_n).iterrows():
    
    cql = ("select * from nlp_keyspace.word_article_mapping where word='" + row['word'] + "';")
    print cql
    pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
    mapping_frames_list.append(pd_df)

if len(mapping_frames_list) > 0:
    mapping_pd=pd.DataFrame(columns=['row','article'])
    mapping_pd=pd.concat(mapping_frames_list).reset_index(drop=True)
mapping_pd

  tag     tfidf word filter_by_tag
0   n  0.789275  柯文哲          True
1   v  0.488810    選          True
2   n  0.371631   總統          True
select * from nlp_keyspace.word_article_mapping where word='柯文哲';
select * from nlp_keyspace.word_article_mapping where word='選';
select * from nlp_keyspace.word_article_mapping where word='總統';

  word                                            article
0  柯文哲  [62729, 41495, 44917, 22088, 40245, 40309, 696...
1    選  [17042, 33765, 15662, 15808, 37238, 49332, 441...
2   總統  [96854, 16633, 6196, 34614, 69325, 11161, 6426...

In [52]:
# 統計哪個字出現最多次
article_list=[]
for index, row in mapping_pd.iterrows():
    #單個字去除重複文章id
    for item in list(set(row['article'])):
        article_list.append(item)
#         article_list.append(list(set(item)))
#         print type(item)
        
print str(len(article_list))
# article_list

466

In [53]:
from collections import Counter
result = Counter(article_list)
count_pd = pd.DataFrame(dict(result).items(), columns=['article_id', 'count'])
count_pd = count_pd.sort_values(by=['count'], ascending=False)
print len(count_pd)
count_pd

459

     article_id  count
163     1377629      2
396      882547      2
90       717009      2
427      814411      2
137      854316      2
183      706415      2
243       39434      2
0        462848      1
306      938650      1
307      889499      1
308      492191      1
304     1012375      1
309      857200      1
310      587035      1
311       36507      1
312      512677      1
313       40617      1
305      510616      1
301      593550      1
303       17042      1
302     1006223      1
300     1066946      1
299      952972      1
298     1042058      1
297      274057      1
296      469636      1
295      996995      1
294      394877      1
293     1219196      1
292     7211639      1
..          ...    ...
117      866564      1
143      588086      1
144    44862775      1
145    69893172      1
159      936277      1
171      525677      1
170      737644      1
169      538981      1
168      992610      1
167     1002896      1
166       13664      1
165      999775      1
164      771422      1
162       29017      1
161    26263896      1
160      791933      1
158       40931      1
146       56636      1
157       11161      1
156      161103      1
155      522466      1
154     1076172      1
153      947255      1
152    32540995      1
151    61832514      1
150      948960      1
149      986432      1
148      561057      1
147     1165629      1
458      550909      1

[459 rows x 2 columns]

In [54]:
# 至少要出現兩個字
top_pd = count_pd[count_pd['count'] > 1]
top_pd
# if len(top_pd) == 0:
#     top_pd = count_pd[count_pd['count'] == 1]

     article_id  count
163     1377629      2
396      882547      2
90       717009      2
427      814411      2
137      854316      2
183      706415      2
243       39434      2

In [55]:
# 依照次數分類查詢

count_list = sorted(list(set(top_pd['count'])), reverse=True)
count_list

[2]

In [56]:
response_frames_list = []
for count in count_list:
    print count
    ans_pd = top_pd[top_pd['count'] == count]
    for index, row in ans_pd.iterrows():
    
#         cql = ("select * from nlp_keyspace.dcard_response where article_id=" +
#                str(row['article_id']) + ";")
        
        cql = ("select * from nlp_keyspace.dcard_query_table where article_id=" +
               str(row['article_id']) + ";")
        print cql
        pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
        response_frames_list.append(pd_df)
    
    if len(response_frames_list) > 0:
        answer_pd=pd.concat(response_frames_list).reset_index(drop=True)
        if len(answer_pd) > 10:
            break
        
answer_pd

2
select * from nlp_keyspace.dcard_query_table where article_id=1377629;
select * from nlp_keyspace.dcard_query_table where article_id=882547;
select * from nlp_keyspace.dcard_query_table where article_id=717009;
select * from nlp_keyspace.dcard_query_table where article_id=814411;
select * from nlp_keyspace.dcard_query_table where article_id=854316;
select * from nlp_keyspace.dcard_query_table where article_id=706415;
select * from nlp_keyspace.dcard_query_table where article_id=39434;

,article_id,floor,board,like_count,question,response
0,1377629,1,trending,4,柯文哲開微博圖總統大位？ 市府澄清：增加善意,名嘴先去醒醒腦…
1,1377629,2,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,建議多方攝取資訊\n一體兩面的事情很多\n每個人解讀方式也不同
2,1377629,3,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,無期限支持柯文哲選中華民國總統
3,1377629,4,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,臺灣名嘴的話原po敢信？？
4,1377629,5,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,現在覺得他有時候的反應太矯情
5,1377629,6,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,開微博反攻大陸
6,1377629,7,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,如果是馬英九去開設微博帳號不知道會被罵成多慘\n\n說不定還有人要用叛亂罪起訴他
7,1377629,8,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,如果柯p用推特是不是就要選美國總統了ㄎㄎ
8,882547,1,trending,0,測測自己的政見意向，你會選哪一位總統呢？,希望也有政黨票的xd
9,882547,2,trending,0,測測自己的政見意向，你會選哪一位總統呢？,還蠻有趣的
10,882547,3,trending,2,測測自己的政見意向，你會選哪一位總統呢？,我怎麼覺得\n它每個議題的選項都只有兩個\n有點引導式問答？
11,882547,6,trending,2,測測自己的政見意向，你會選哪一位總統呢？,為什麼我朱豬倫是0%
12,882547,7,trending,1,測測自己的政見意向，你會選哪一位總統呢？,44% 蔡 44% 宋
13,882547,9,trending,0,測測自己的政見意向，你會選哪一位總統呢？,蔡47% 宋41% 12%朱\nXDD
14,882547,10,trending,0,測測自己的政見意向，你會選哪一位總統呢？,因為跳過也是一種回答
15,882547,16,trending,6,測測自己的政見意向，你會選哪一位總統呢？,東華妹當然朱的不能有半分啊
16,882547,17,trending,5,測測自己的政見意向，你會選哪一位總統呢？,東華妹一定玩了超多次xXDD
17,882547,18,trending,1,測測自己的政見意向，你會選哪一位總統呢？,才沒有XDDD\n一次而已啦
18,882547,21,trending,0,測測自己的政見意向，你會選哪一位總統呢？,你們這樣朱立倫很傷心
19,717009,1,trending,4,總統該選誰？,蔡英文的反核政策不錯，你可以參考
20,717009,2,trending,5,總統該選誰？,不要投KMT就好
21,717009,3,trending,2,總統該選誰？,等看到選舉人公報就知道政見了~~
22,717009,5,trending,8,總統該選誰？,你讓我突然覺得自己只會看人就投票很膚淺\n我有空也來研究政策好了\n\n星期一天氣晴
23,717009,8,trending,5,總統該選誰？,妳來這發問不如上網去發漏候選人的網頁、臉書，裡面一大堆怎麼會不知道有什麼政見？
24,717009,11,trending,3,總統該選誰？,說好的 做好 做滿\n那就要真的 做好 做滿\n請還給新北市民一個市長
25,717009,13,trending,3,總統該選誰？,有個連紅豆餅的餡都包不滿了\n可想而知啊XDDD
26,717009,14,trending,4,總統該選誰？,這麼猶豫 都選不就得了ヾ(*´∀｀*)ﾉ
27,717009,25,trending,0,總統該選誰？,銘傳財經是上次留一堆亂嗆又狂自刪留言那位嗎？
28,717009,26,trending,1,總統該選誰？,民國黨可是雷射師父阿~
29,717009,27,trending,0,總統該選誰？,妳可以去g0v找找，有人在幫忙蒐集政見，朱立倫目前很缺
...,...,...,...,...,...,...
54,854316,8,trending,5,總統到底可以選誰啊,藍信祺正解
55,854316,9,trending,0,總統到底可以選誰啊,自己設法多方蒐集彙整資料啊!
56,854316,10,trending,4,總統到底可以選誰啊,投我啊廢話
57,854316,11,trending,0,總統到底可以選誰啊,投小英 放空台指
58,854316,14,trending,2,總統到底可以選誰啊,蔡英文２０１２有說沒選上就不選？？\n可以給個資料嗎
59,854316,20,trending,0,總統到底可以選誰啊,不要讓新北市民不開心
60,854316,21,trending,4,總統到底可以選誰啊,棄朱保宋
61,854316,22,trending,2,總統到底可以選誰啊,小英加油！\n
62,854316,27,trending,1,總統到底可以選誰啊,你不知道台灣人有100%的健忘症嗎？
63,854316,29,trending,0,總統到底可以選誰啊,不是已經選完了嗎XDDDD
64,854316,30,trending,0,總統到底可以選誰啊,淘汰爛蘋果啊
65,854316,31,trending,1,總統到底可以選誰啊,馬英九的民調是19趴好嗎
66,854316,32,trending,1,總統到底可以選誰啊,宋神掌也是蠻可憐 選了一輩子總統
67,854316,33,trending,2,總統到底可以選誰啊,宋楚瑜完全就是封建思維的人\n千千萬萬不要被他唬了
68,706415,1,trending,4,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,.....錢太多哦
69,706415,4,trending,7,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,第一個說要公開建國的候選人耶\n台獨的不支持一下嗎
70,706415,6,trending,2,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,請轉有趣版\n話說美國也是有阿貓阿狗在選總統的，不必太意外
71,706415,7,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,有提政策給推 反觀某空心菜
72,706415,8,trending,2,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,傻孩子 你有沒有看到猴王因為這樣所以在陪德到處漏尿發神經?
73,706415,9,trending,3,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,推轉有趣版😂
74,706415,10,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,看來你是接不下我的必殺絕招了
75,706415,11,trending,2,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,譁眾取寵啦
76,706415,13,trending,1,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,哈哈哈~~~~~建議他直接來看我們精神科比較快XD
77,706415,14,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,今天看到笑死\n他的FB更好笑喔
78,39434,1,trending,6,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,2:45有點奇葩
79,39434,2,trending,4,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,不想看民調了，直接坐等結果。
80,39434,4,trending,6,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,柯P的當選絕對是台灣政治轉型的第一步，只是希望他未來在市議會還能扛得住XD
81,39434,5,trending,4,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,柯P當選會用誰啊?(歪頭
82,39434,6,trending,1,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,"那個42%拒絕回答的都是選連勝文的, \n\n柯P這次書定惹"
83,39434,9,trending,3,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,可以的話 \n我一點都不希望這兩個人當選…\n\n到底是誰推這兩個人出來選市長的啊！

In [57]:
# response_dict={}
# response_frames_list=[]
# top_count = 0
# count_list = list(top_pd['count'])
# for index, row in top_pd.iterrows():
    
#     cql = ("select * from nlp_keyspace.dcard_response where article_id=" + str(row['article_id']) + ";")
#     print cql
#     pd_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
    
    
#     response_frames_list.append(pd_df)
# #     if len(pd_df) > 4:
# #         break

# # response_pd=pd.DataFrame(columns=['row','article'])
# answer_pd = pd.DataFrame({})
# if len(response_frames_list) > 0:
#     answer_pd=pd.concat(response_frames_list).reset_index(drop=True)

# 透過question_type查wiki,google search, google map

In [58]:
# for index, row in top_pd.iterrows():
#     cql = ("select * from nlp_keyspace.dcard_article_test where article_id=" + str(row['article_id']) + ";")
#     print cql
#     article_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)
#     print article_df['question'][0]

In [59]:
if len(answer_pd) == 0:
    print 'AQ還在學習中......'

# 過濾答案

In [60]:
# import re
# def filter_url(row):
    
#     pattern = re.compile('http://\S+|https://\S+')
#     match = pattern.search(row['content'])
#     if match:
#         return True
#     return False

# # 過濾url的答案
# mask = (answer_pd['has_url'] == False)
# answer_pd = answer_pd.loc[mask]

In [61]:
if len(answer_pd):
    answer_pd = answer_pd.sort_values(by=['like_count'], ascending=False)
#     print answer_pd
answer_pd

,article_id,floor,board,like_count,question,response
36,814411,4,trending,52,柯文哲:台灣醫療沒人敢改 除非我當總統,我覺得柯p是個很誠實的人\n他在想什麼都很明確的跟大家說\n總比很多人心照不宣好
35,814411,1,trending,43,柯文哲:台灣醫療沒人敢改 除非我當總統,卡等2020柯P選總統
38,814411,6,trending,10,柯文哲:台灣醫療沒人敢改 除非我當總統,感覺他至少比小英還有老朱強
22,717009,5,trending,8,總統該選誰？,你讓我突然覺得自己只會看人就投票很膚淺\n我有空也來研究政策好了\n\n星期一天氣晴
37,814411,5,trending,8,柯文哲:台灣醫療沒人敢改 除非我當總統,拜託別再出來亂了\n先把你跳票的政見搞好好嗎
50,854316,1,trending,8,總統到底可以選誰啊,你之前有去幫其他四組獨立候選人連署嗎？
69,706415,4,trending,7,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,第一個說要公開建國的候選人耶\n台獨的不支持一下嗎
80,39434,4,trending,6,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,柯P的當選絕對是台灣政治轉型的第一步，只是希望他未來在市議會還能扛得住XD
78,39434,1,trending,6,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,2:45有點奇葩
41,814411,9,trending,6,柯文哲:台灣醫療沒人敢改 除非我當總統,柯批選總統 \n我絕對從美國飛回來投票
15,882547,16,trending,6,測測自己的政見意向，你會選哪一位總統呢？,東華妹當然朱的不能有半分啊
16,882547,17,trending,5,測測自己的政見意向，你會選哪一位總統呢？,東華妹一定玩了超多次xXDD
23,717009,8,trending,5,總統該選誰？,妳來這發問不如上網去發漏候選人的網頁、臉書，裡面一大堆怎麼會不知道有什麼政見？
20,717009,2,trending,5,總統該選誰？,不要投KMT就好
54,854316,8,trending,5,總統到底可以選誰啊,藍信祺正解
19,717009,1,trending,4,總統該選誰？,蔡英文的反核政策不錯，你可以參考
0,1377629,1,trending,4,柯文哲開微博圖總統大位？ 市府澄清：增加善意,名嘴先去醒醒腦…
26,717009,14,trending,4,總統該選誰？,這麼猶豫 都選不就得了ヾ(*´∀｀*)ﾉ
56,854316,10,trending,4,總統到底可以選誰啊,投我啊廢話
60,854316,21,trending,4,總統到底可以選誰啊,棄朱保宋
68,706415,1,trending,4,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,.....錢太多哦
79,39434,2,trending,4,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,不想看民調了，直接坐等結果。
81,39434,5,trending,4,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,柯P當選會用誰啊?(歪頭
48,814411,21,trending,4,柯文哲:台灣醫療沒人敢改 除非我當總統,快改吧 我７年後要工作啦
1,1377629,2,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,建議多方攝取資訊\n一體兩面的事情很多\n每個人解讀方式也不同
73,706415,9,trending,3,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,推轉有趣版😂
83,39434,9,trending,3,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,可以的話 \n我一點都不希望這兩個人當選…\n\n到底是誰推這兩個人出來選市長的啊！
6,1377629,7,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,如果是馬英九去開設微博帳號不知道會被罵成多慘\n\n說不定還有人要用叛亂罪起訴他
2,1377629,3,trending,3,柯文哲開微博圖總統大位？ 市府澄清：增加善意,無期限支持柯文哲選中華民國總統
25,717009,13,trending,3,總統該選誰？,有個連紅豆餅的餡都包不滿了\n可想而知啊XDDD
...,...,...,...,...,...,...
17,882547,18,trending,1,測測自己的政見意向，你會選哪一位總統呢？,才沒有XDDD\n一次而已啦
31,717009,36,trending,1,總統該選誰？,去官網看呀\n寫滿多的\n\n千萬不要大家說誰空心妳就信了！
82,39434,6,trending,1,連勝文 vs 柯文哲 - 你要選誰? 為什麼? 最後30天民調,"那個42%拒絕回答的都是選連勝文的, \n\n柯P這次書定惹"
65,854316,31,trending,1,總統到底可以選誰啊,馬英九的民調是19趴好嗎
74,706415,10,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,看來你是接不下我的必殺絕招了
77,706415,14,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,今天看到笑死\n他的FB更好笑喔
71,706415,7,trending,0,「世界台灣皇帝」藍信祺選總統 政見：每人發100億,有提政策給推 反觀某空心菜
5,1377629,6,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,開微博反攻大陸
4,1377629,5,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,現在覺得他有時候的反應太矯情
7,1377629,8,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,如果柯p用推特是不是就要選美國總統了ㄎㄎ
3,1377629,4,trending,0,柯文哲開微博圖總統大位？ 市府澄清：增加善意,臺灣名嘴的話原po敢信？？
8,882547,1,trending,0,測測自己的政見意向，你會選哪一位總統呢？,希望也有政黨票的xd
27,717009,25,trending,0,總統該選誰？,銘傳財經是上次留一堆亂嗆又狂自刪留言那位嗎？
64,854316,30,trending,0,總統到底可以選誰啊,淘汰爛蘋果啊
14,882547,10,trending,0,測測自己的政見意向，你會選哪一位總統呢？,因為跳過也是一種回答
29,717009,27,trending,0,總統該選誰？,妳可以去g0v找找，有人在幫忙蒐集政見，朱立倫目前很缺
30,717009,35,trending,0,總統該選誰？,三個都各蓋一個章，都支持，都好棒棒
32,717009,37,trending,0,總統該選誰？,空心又不是指沒政見\n是指政見都是些天方夜譚吧0.0
18,882547,21,trending,0,測測自己的政見意向，你會選哪一位總統呢？,你們這樣朱立倫很傷心
39,814411,7,trending,0,柯文哲:台灣醫療沒人敢改 除非我當總統,猛烈..
40,814411,8,trending,0,柯文哲:台灣醫療沒人敢改 除非我當總統,柯p選總统~
43,814411,12,trending,0,柯文哲:台灣醫療沒人敢改 除非我當總統,哈哈去跟小英說啊\n說不定她會採納意見
63,854316,29,trending,0,總統到底可以選誰啊,不是已經選完了嗎XDDDD
44,814411,14,trending,0,柯文哲:台灣醫療沒人敢改 除非我當總統,砍老的實在是.........小的也沒有比較多啊= =
13,882547,9,trending,0,測測自己的政見意向，你會選哪一位總統呢？,蔡47% 宋41% 12%朱\nXDD
49,814411,22,trending,0,柯文哲:台灣醫療沒人敢改 除非我當總統,為什麼他說的很多話都跟我看的研究成果不一樣…
57,854316,11,trending,0,總統到底可以選誰啊,投小英 放空台指
59,854316,20,trending,0,總統到底可以選誰啊,不要讓新北市民不開心
9,882547,2,trending,0,測測自己的政見意向，你會選哪一位總統呢？,還蠻有趣的
55,854316,9,trending,0,總統到底可以選誰啊,自己設法多方蒐集彙整資料啊!

In [62]:
for i,r in answer_pd.reset_index().iterrows():
    print str(i) + '. ' + r['content']

KeyError: 'content'


# 沒找到就回答罐頭訊息

In [ ]:
ppp

# 測試

In [ ]:
cql = ("select * from nlp_keyspace.word_article_mapping;")
map_df = dao.execCQLSelectToPandasDF(HELPER_KEYSPACE, cql)

In [ ]:
len(map_df)

In [ ]:
word_df = map_df[map_df['word'].str.len() == 1]
print len(word_df)
word_df